<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org en">
<head>
    <meta charset="text/html; UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/select/1.5.0/css/select.dataTables.min.css">
    <link href="/css/style.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/select/1.5.0/js/dataTables.select.min.js"></script>

    <title>Tworzenie kursu</title>
</head>
<body class="bg-light">
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-white">    
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="/images/logo_pwr.png" alt="Logo" class="d-inline-block align-text-top">
                <h6 class="mt-2">System Wspomagania Układania Planów Studiów</h6>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end align-center" id="main-nav">
                <ul class="navbar-nav">
                    <li class="nav-item mr-3">
                        <a href="#" class="nav-link">Plany wymagające uwagi</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Historia</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="bi bi-person-circle fa-lg"></i>
                            <span th:text="|${#authentication.principal.name} ${#authentication.principal.surname}|"></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#">
                            <button type="button" class="btn btn-outline-secondary" style="margin-left: .4em;">Wyloguj</button>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container mt-4">
        <h1>Tworzenie kursu</h1>
        <form class="row g-3 justify-content-center mx-lg-5 mx-md-0 mt-3 needs-validation" id="form" action="add" method="post" th:object="${course}" novalidate>
            <div class="col-md-6">
                <label for="code" class="form-label">Kod kursu:</label>
                <input type="text" th:field="*{code}" class="form-control" id="code" placeholder="np. INZ004373W" minlength="4" required>
                <div class="invalid-feedback">
                    Kod kursu musi składać się z minimum 4 znaków!
                </div>
                <div class="invalid-feedback d-block" th:text="${error} ? 'W bazie znajduje się kurs o podanym kodzie!' : '' "></div>
            </div>
            <div class="col-md-6">
                <label for="name" class="form-label">Nazwa kursu:</label>
                <input type="text" th:field="*{name}" class="form-control" id="name" placeholder="np. Projektowanie oprogramowania" required>
                <div class="invalid-feedback">
                    Nazwa kursu nie może być pusta!
                </div>
            </div>
            <div class="col-md-3">
                <label for="courseCharacter" class="form-label">Forma zajęć:</label>
                <select id="courseCharacter" class="form-select" th:field="*{courseCharacter}">
                    <option th:each="character : ${courseCharacters}"
                            th:value="${character.id}"
                            th:text="${character.name}">
                    </option>
                </select>
            </div>
            <div class="col-md-3">
                <label for="weeklySumOfHours" class="form-label">Tygodniowa liczba godzin:</label>
                <input type="number" th:field="*{weeklySumOfHours}" class="form-control" id="weeklySumOfHours" min="0" max="900">
                <div class="invalid-feedback">
                    Tygodniowa liczba godzin musi wynosić pomiędzy 0 a 900!
                </div>
            </div>
            <div class="col-md-3">
                <label for="sumOfZZUHours" class="form-label">Godziny ZZU:</label>
                <input type="number" th:field="*{sumOfZZUHours}" class="form-control" id="sumOfZZUHours" min="0" max="900">
                <div class="invalid-feedback">
                    Liczba godzin ZZU musi wynosić pomiędzy 0 a 900!
                </div>
            </div>
            <div class="col-md-3">
                <label for="sumOfCnpsHours" class="form-label">Godziny CNPS:</label>
                <input type="number" th:field="*{sumOfCnpsHours}" class="form-control" id="sumOfCnpsHours" min="0" max="900">
                <div class="invalid-feedback">
                    Liczba godzin CNPS musi wynosić pomiędzy 0 a 900!
                </div>
            </div>
            <div class="col-md-4">
                <label for="sumOfEctsPoints" class="form-label">Łączna liczba punktów ECTS:</label>
                <input type="number" th:field="*{sumOfEctsPoints}" class="form-control" id="sumOfEctsPoints" min="0" max="30">
                <div class="invalid-feedback">
                    Liczba godzin ECTS musi wynosić pomiędzy 0 a 30!
                </div>
            </div>
            <div class="col-md-4">
                <label for="sumOfEctsPointsFromDnClasses" class="form-label">Liczba punktów ECTS zajęć DN:</label>
                <input type="number" th:field="*{sumOfEctsPointsFromDnClasses}" class="form-control" id="sumOfEctsPointsFromDnClasses" step="0.1" min="0" max="30">
                <div class="invalid-feedback">
                    Liczba godzin ECTS zajęć DN musi wynosić pomiędzy 0 a 30!
                </div>
            </div>
            <div class="col-md-4">
                <label for="sumOfEctsPointsFromBuClasses" class="form-label">Liczba punktów ECTS zajęć BU:</label>
                <input type="number" th:field="*{sumOfEctsPointsFromBuClasses}" class="form-control" id="sumOfEctsPointsFromBuClasses" step="0.1" min="0" max="30">
                <div class="invalid-feedback">
                    Liczba godzin ECTS zajęć BU musi wynosić pomiędzy 0 a 30!
                </div>
            </div>
            <div class="col-md-3">
                <label for="courseType" class="form-label">Typ kursu:</label>
                <select id="courseType" class="form-select" th:field="*{courseType}">
                    <option th:each="type : ${courseTypes}"
                            th:value="${type.id}"
                            th:text="${type.name}">
                    </option>
                </select>
            </div>
            <div class="col-md-3">
                <label for="courseForm" class="form-label">Forma kursu:</label>
                <select id="courseForm" class="form-select" th:field="*{courseForm}">
                    <option th:each="form : ${courseForms}"
                            th:value="${form.id}"
                            th:text="${form.name}">
                    </option>
                </select>
            </div>
            <div class="col-md-3">
                <label for="wayOfCrediting" class="form-label">Sposób zaliczenia:</label>
                <select id="wayOfCrediting" class="form-select" th:field="*{wayOfCrediting}">
                    <option th:each="way : ${waysOfCrediting}"
                            th:value="${way.id}"
                            th:text="${way.name}">
                    </option>
                </select>
            </div>
            <div class="col-md-3">
                <label for="courseKind" class="form-label">Rodzaj kursu:</label>
                <select id="courseKind" class="form-select" th:field="*{courseKind}">
                    <option th:each="kind : ${courseKinds}"
                            th:value="${kind.id}"
                            th:text="${kind.name}">
                    </option>
                </select>
            </div>
            <div class="col-md-12 mt-5">
                <h5 class="mb-3">Efekty uczenia się</h5>
                <table id="effectsTable" class="table table-hover" style="width:100%">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Kod</th>
                            <th>Opis</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="effect : ${studyEffects}">
                            <td></td>
                            <td th:text="${effect.getCode()}"></td>
                            <td th:text="${effect.getDescription()}"></td>
                        </tr>
                    </tbody>
                </table>
                <input type="text" class="d-none" id="studyeffects" th:field="*{studyeffects}" required>
                <div class="invalid-feedback">
                    Proszę wybrać przynajmniej 1 efekt uczenia się!
                </div>
            </div>
            <div class="col-md-12 mb-5" style="text-align: center;">
                <button type="reset" class="btn btn-secondary btn-lg btn-block" style="width: 150px;">Wyczyść</button>
                <button type="button" class="btn btn-primary btn-lg btn-block" data-bs-toggle="modal" data-bs-target="#confirmModal" style="width: 150px;">Utwórz kurs</button>
            </div>            
            
            <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="confirmModalLabel">Potwierdzenie</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                        Czy na pewno chcesz utworzyć kurs?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Nie</button>
                        <button type="submit" class="btn btn-primary" onclick="hide_modal()">Tak</button>
                    </div>
                </div>
                </div>
            </div>
        </form>
    </div>
    <script>        
        $(document).ready(function () {
            let table = $('#effectsTable').DataTable({
                
                columnDefs: [ {
                    orderable: false,
                    className: 'select-checkbox',
                    targets:   0
                } ],
                select: {
                    style:    'multi',
                    selector: 'td:first-child'
                },              
                language: {
                    "decimal":        "",
                    "emptyTable":     "Brak danych!",
                    "info":           "Wyświetlono _END_ spośród _TOTAL_ wyników",
                    "infoEmpty":      "Brak danych!",
                    "infoFiltered":   "",
                    "infoPostFix":    "",
                    "thousands":      ",",
                    "lengthMenu":     "Wyświetl _MENU_ wyników na stronie",
                    "loadingRecords": "Ładowanie...",
                    "processing":     "",
                    "search":         "Szukaj:",
                    "zeroRecords":    "Nie znaleziono pasujących wyników!",
                    "paginate": {
                        "first":      "Pierwszy",
                        "last":       "Ostatni",
                        "next":       "Następny",
                        "previous":   "Poprzedni"
                    },
                }
                    }).on('select', function(e, dt, type, indexes) {
                        let selectedRows = table.rows( { selected: true } );
                        let selectedRowsData = selectedRows.data();
                        let selectedRowsAmount = selectedRows.count();
                        let codes = [];
                        for (let i=0; i<selectedRowsAmount; i++ ) {
                            codes.push(selectedRowsData[i][1]);
                        }
                        $('#studyeffects').val(codes.toString());
                    })
                    .on('deselect', function(e, dt, type, indexes) {
                        let selectedRows = table.rows( { selected: true } );
                        let selectedRowsData = selectedRows.data();
                        let selectedRowsAmount = selectedRows.count();
                        let codes = [];
                        for (let i=0; i<selectedRowsAmount; i++ ) {
                            codes.push(selectedRowsData[i][1]);
                        }
                        $('#studyeffects').val(codes.toString());
                    });
        });
    </script>
    <script>
        (function () {
        'use strict'

        let forms = document.querySelectorAll('.needs-validation');

        Array.prototype.slice.call(forms)
            .forEach(function (form) {
            form.addEventListener('submit', function (event) {
                if (!form.checkValidity()) {
                event.preventDefault();
                event.stopPropagation();
                }

                form.classList.add('was-validated')
            }, false)
            })
        })()
    </script>
    <script>
        function hide_modal() {
            $('#confirmModal').modal('toggle');
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>
