<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org en">
<head>
    <meta charset="text/html; UTF-8">
    <!--  <link rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link href="/css/style.css" rel="stylesheet">
    <title>Products list</title>
    <style>
        .modal {
            z-index: 9999;
        }

        .modal-parent {
            display: block;
        }
    </style>
</head>
<body class="bg-light">
<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/images/logo_pwr.png" alt="Logo" class="d-inline-block align-text-top">
            <h6 class="mt-2">System Wspomagania Układania Planów Studiów</h6>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav"
                aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end align-center" id="main-nav">
            <ul class="navbar-nav">
                <li class="nav-item mr-3">
                    <a href="/plans" class="nav-link">Plany wymagające uwagi</a>
                </li>
                <li class="nav-item mr-3">
                    <a href="/courses/show" class="nav-link">Kursy</a>
                </li>
                <li class="nav-item mr-3">
                    <a href="/blocksOfCourses/show" class="nav-link">Bloki kursów</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Historia</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="bi bi-person-circle fa-lg"></i>
                        <span th:text="|${user.getName()} ${user.getSurname()}|"></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/logout">
                        <button type="button" class="btn btn-outline-secondary" style="margin-left: .4em;">Wyloguj
                        </button>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container mx-auto mt-5" style="width: 1500px;">
    <div class="content">
        <table class="table table-striped" th:object="${plan}">
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Nazwa planu</td>
                <td th:text="${plan.getIdentifier()}"></td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Wydział</td>
                <td th:text="${plan.getFieldOfStudy().getFaculty().getName()}"></td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Studia</td>
                <td>
                    <p th:text="${plan.getFormOfStudy().getName()}"></p>
                    <p th:text="${plan.getEducationLevel().getName()}"></p>
                    <p th:text="${plan.getDegree().getName()}"></p>
                </td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>Kierunek</td>
                <td th:text="${plan.getFieldOfStudy().getName()}"></td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>Specjalność</td>
                <td th:text="${plan.getSpecialization()}"></td>
            </tr>
            <tr>
                <th scope="row">6</th>
                <td>Status</td>
                <td th:text="${plan.getPlanStatus().getName()}"></td>
            </tr>
            </tbody>
        </table>

        <div class="row mt-5 mx-auto">
            <div class="col-3">
                <a class="btn btn-primary"
                   th:href="@{/plans}">Powrót</a>
            </div>
            <div class="col-3">
                <a class="btn btn-primary disabled"
                >Wyświetl plan</a>
            </div>
            <div class="col-3">

                <button th:if="${isSenat}" type="button" class="btn btn-success" data-toggle="modal"
                        data-target="#myModal">Zatwierdź plan
                </button>
                <a th:unless="${isSenat}" class="btn btn-primary"   th:href="${addOpinionUrl}">Zaopiniuj plan</a>
            </div>
            <div class="col-3">
                <a class="btn btn-primary"
                   th:href="${addOpinionsUrl}">Wyświetl opinie</a>
            </div>
        </div>
    </div>
</div>
</div>


<!--<form th:object="${plan}" th:action="${url}" method="post">-->
<!--    <p th:text="${plan.getPlanstatusid().getName()}"></p>-->
<!--    <input type="submit" class="btn btn-success" data-dismiss="modal" id="okBtn">-->
<!--</form>-->
<div class="modal fade" id="myModal">

    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Czy na pewno chcesz zatwierdzic plan</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>


            <div class="modal-footer">
                <form th:object="${plan}" th:action="${url}" method="post" id="form">
                    <p th:text="'Obecny status to: '+${plan.getPlanStatus().getName()}"></p>
                    <p th:if="${plan.getPlanStatus().getName()} == 'Zatwierdzony'">Nie możesz zatwierdzić planu</p>
                    <div th:unless="${plan.getPlanStatus().getName()} == 'Zatwierdzony'">
                        <input type="submit" onclick="form_submit()" class="btn btn-success" data-dismiss="modal" id="okBtn"
                               value="Tak">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Nie</button>
                    </div>
                </form>
            </div>
            <script>
                function form_submit() {
                    document.getElementById("form").submit();
                }
            </script>


        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.min.js"></script>
</body>
</html>
