<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="text/html; UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link href="/css/style.css" rel="stylesheet">
    <title>Dodaj opinię</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/images/logo_pwr.png" alt="Logo" class="d-inline-block align-text-top">
            <h6 class="mt-2">System Wspomagania Układania Planów Studiów</h6>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav"
                aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end align-center" id="main-nav">
            <ul class="navbar-nav">
                <li class="nav-item mr-3">
                    <a href="/plans" class="nav-link">Plany wymagające uwagi</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Historia</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="bi bi-person-circle fa-lg"></i>
                        <span th:text="|${#authentication.principal.name} ${#authentication.principal.surname}|"></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/logout">
                        <button type="button" class="btn btn-outline-secondary" style="margin-left: .4em;">Wyloguj
                        </button>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <form id="form" class="form form-horizontal" role="form" th:object="${opinion}" th:action="${url}"
          method="post">
        <h1>Dodaj opinię</h1>
        <div class="form-group">
            <textarea type="text" th:field="*{content}" class="form-control" id="Content"></textarea>
        </div>
        <div class="form-group">
            <input type="radio" th:field="*{isPositive}" th:value="${true}" id="positive" name="opinionStatus"
                   value="Opinia pozytywna">
            <label for="positive">Opinia pozytywna</label>
            <input type="radio" th:field="*{isPositive}" th:value="${false}" id="negative" name="opinionStatus"
                   value="Opinia negatywna">
            <label for="negative">Opinia negatywna</label>
        </div>
        <div class="form-group">
            <p th:text="${error} ? 'Opinia nie może być pusta' : '' "></p>
        </div>
    </form>
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">Dodaj opinię</button>

    <!--<form th:object="${plan}" th:action="${url}" method="post">-->
    <!--    <p th:text="${plan.getPlanstatusid().getName()}"></p>-->
    <!--    <input type="submit" class="btn btn-success" data-dismiss="modal" id="okBtn">-->
    <!--</form>-->
    <div class="modal fade" id="myModal">

        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Czy na pewno chcesz dodać opinię?</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>


                <div class="modal-footer">
                    <button type="button" onclick="form_submit()" class="btn btn-success" data-dismiss="modal"
                            id="okBtn">Tak
                    </button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Nie</button>
                    </form>
                </div>
                <script>
                    function form_submit() {
                        document.getElementById("form").submit();
                    }
                </script>


            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.min.js"></script>
</body>
</html>