<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="text/html; UTF-8">
    <!--  <link rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Dodaj opinię</title>
</head>
<body>
<div class="container">
    <form id="form" class="form form-horizontal" role="form" th:object="${opinion}" th:action="${url}"
          method="post">
        <h1>Dodaj opinię</h1>
        <div class="form-group">
            <textarea type="text" th:field="*{content}" class="form-control" id="Content"></textarea>
        </div>
        <div class="form-group">
            <input type="radio" th:field="*{isPositive}" th:value="${true}" id="positive" name="opinionStatus"
                   value="Opinia pozytywna">
            <label for="positive">Opinia pozytywna</label>
            <input type="radio" th:field="*{isPositive}" th:value="${false}" id="negative" name="opinionStatus"
                   value="Opinia negatywna">
            <label for="negative">Opinia negatywna</label>
        </div>
        <div class="form-group">
            <p th:text="${error} ? 'Opinia nie może być pusta' : '' "></p>
        </div>
    </form>
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">Dodaj opinię</button>

    <!--<form th:object="${plan}" th:action="${url}" method="post">-->
    <!--    <p th:text="${plan.getPlanstatusid().getName()}"></p>-->
    <!--    <input type="submit" class="btn btn-success" data-dismiss="modal" id="okBtn">-->
    <!--</form>-->
    <div class="modal fade" id="myModal">

        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Czy na pewno chcesz dodać opinię?</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>


                <div class="modal-footer">
                    <button type="button" onclick="form_submit()" class="btn btn-success" data-dismiss="modal"
                            id="okBtn">Tak
                    </button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Nie</button>
                    </form>
                </div>
                <script>
                    function form_submit() {
                        document.getElementById("form").submit();
                    }
                </script>


            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.min.js"></script>
</body>
</html>