<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org en">
<head>
    <meta charset="text/html; UTF-8">
    <!--  <link rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Products list</title>
</head>
<body>

<div class="container bg-light">
        <div th:each="opinion : ${opinions}" class="row border mt-2">
<!--            <div class="col-1">-->
<!--                <p th:text="${opinion.getId()}"></p>-->
<!--            </div>-->
            <div class="col-2">
                <p th:text="${opinion.getUserid().getAuthorityid().getName()}"></p>
            </div>
            <div class="col-4">
                <p th:text="'Data dodania: '+${opinion.getDateofopinion()}"></p>
            </div>
            <div class="col-6">
                <p th:text=" 'Data ostatniej modyfikacji: ' +${opinion.getDateofmodification()}"></p>
            </div>
            <div class="col-2">
                <div th:if="${opinion.getIspositive() == false}" class="text-danger">
                    <p>Negatywna</p>
                </div>
                <div th:if="${opinion.getIspositive() == true}" class=" text-success">
                    <p>Pozytywna</p>
                </div>
            </div>
            <div class="col-4">
                <p th:text="${'Wystawiona przez: ' +opinion.getUserid().getName()+' '+opinion.getUserid().getSurname() }"></p>
            </div>
            <div class="col-6">
                <a class="btn btn-primary" th:href="@{/plans/{planId}/details/opinions/{opinionId}(planId=${opinion.getPlanofstudiesid().getId()}, opinionId=${opinion.getId()})}">Przeczytaj</a>
            </div>

    </div>
</div>

</body>